<div class="jumbotron">
    <h1>ADDME</h1>
    <p class="lead">Application Development and Deliver Modernization Effort</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        DFI
    </div>
    <div class="col-md-4">
        ADDME
    </div>
    <div class="col-md-4">
        Project
    </div>
    <div class="col-md-4">
        Demo
    </div>
</div>
